<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="#!" class="active">Create User</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div class="form-container">
        <h2>User Information Form</h2>
        <form action="/create-user" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
            </div>
            
            <div class="form-group">
                <label for="user">User Name:</label>
                <input type="text" id="name" name="name">
            </div>
            
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city">
            </div>
            
            <div class="form-group">
                <button type="create">Create</button>
            </div>
        </form>
    </div>
    
</body>
</html>